# Network and EMBR setup

network.port = 5555
network.sleepBetweenLines = 5
network.connectionCheckInterval = 1500
! Delay between script sendings in continuous mode
network.timerdelay = 200

#agentCharacterName = Amber


# GUI setup

default.tabbed                = true
default.continuous            = true
default.wholeSeqShown         = true
default.alternativeMenuLayout = false

default.poseRelTime = 1000

filechooser.openDialog.title = Open an EMBRScript file
filechooser.saveDialog.title = Save to EMBRScript

ctrl.faceMorphs.minHeight = 60

statusMessage.isConnected = EMBR agent connecteed
statusMessage.notConnected = EMBR agent not connecteed
statusMessage.posesModified = Poses modified

# "New lexeme" dialog

newLex.dialogTitle = Create a new lexeme

newLex.decription = <html>\
 <p style="text-align: justify;">\
   Give a name for the new lexeme,\
  <br/>\
   and determine its handedness.\
  <br/>\
   By confirming this action, ALL\
  <br/>\
   UNSAVED GESTURE DATA WILL BE LOST.\
  <br/>\
   Cancel this dialog to go back\
  <br/>\
   without destroying anything!\
 </p>\
</html>

newLex.name.caption = Lexeme name:
newLex.name.ttText = Enter here a name for the new lexeme. An appropriate file name will be suggested when saving. An example lexeme name would be "fling-down".
newLex.name.preText = lexeme-name

newLex.hand.caption = Handedness:
newLex.hand.ttText = Determine the handedness of the gesture (is it mainly left-handed, right-handed, or principially both-handed?)
newLex.hand.left.cbText = left hand
newLex.hand.rite.cbText = right hand
newLex.hand.both.cbText = both hands
newLex.hand.left.fnExt = _LH
newLex.hand.rite.fnExt = _RH
newLex.hand.both.fnExt = _2H

newLex.cancelButton.caption = Cancel
newLex.cancelButton.tooltip = Do not create a lexeme now. Go back to your current work. Nothing will be destroyed.
newLex.acceptButton.caption = Create
newLex.acceptButton.tooltip = Creates the lexeme and empties the sequence. UNSAVED DATA WILL BE LOST!


# Pane titles:
pane.morphs.title     = Facial Expression
pane.controls.title   = Current Pose
pane.sequencer.title  = Pose Sequence
pane.scriptArea.title.neutral = EMBRScript
pane.scriptArea.title.single  = EMBRScript (Pose)
pane.scriptArea.title.script  = EMBRScript (Sequence)


# Sequence table columns

sequenceTable.columnHeader.handle.title = *
sequenceTable.columnHeader.handle.toolt = This is just a handle to mark the gesture active

sequenceTable.columnHeader.active.title = Active
sequenceTable.columnHeader.active.toolt = Whether this pose should be a part of the gesture. Note that inactive poses will NOT be stored in the generated EMBRScript file, and thus CAN NEVER BE RESTORED AGAIN!

sequenceTable.columnHeader.phase.title = Phase
sequenceTable.columnHeader.phase.toolt = The phase type of the class

sequenceTable.columnHeader.strt.title = Start
sequenceTable.columnHeader.strt.toolt = At which (absolute) time point this pose is to be carried out within the gesture (i.e. pose sequence)

sequenceTable.columnHeader.hold.title = Hold
sequenceTable.columnHeader.hold.toolt = How long the pose will be held

sequenceTable.columnHeader.warp.title = Warp
sequenceTable.columnHeader.warp.toolt = The time warp (ease in, out, both, or none at all)

sequenceTable.columnHeader.sigma.title = \u03c3
sequenceTable.columnHeader.sigma.toolt = The argument for the time warp. See documentation on details!

sequenceTable.columnHeader.comment.title = Comment
sequenceTable.columnHeader.comment.toolt = A comment to appear in the EMBRScript


# Control field captions

ctrl.sectionTitle.headAndFace.image         = sec_face.png
ctrl.sectionTitle.headAndFace.title         = Head
ctrl.sectionTitle.headAndFace.toolt         = Controls for head and face

ctrl.sectionTitle.handsAndArms.image        = sec_hand.png
ctrl.sectionTitle.handsAndArms.title        = Arms
ctrl.sectionTitle.handsAndArms.toolt        = Controls for arms and hands

ctrl.sectionTitle.autonomousBehaviors.image = sec_abeh.png
ctrl.sectionTitle.autonomousBehaviors.title = Behaviors
ctrl.sectionTitle.autonomousBehaviors.toolt = Controls for autonomous behaviors

ctrl.caption.rotation      =
ctrl.caption.use_breath    = Breathing
ctrl.caption.use_gaze      = Gaze
ctrl.caption.gazeTarget    = Target
ctrl.caption.gazeBGroup    = Body Group
ctrl.caption.use_shader    = Blushing
ctrl.caption.faceMorph     = Facial Expression
ctrl.caption.orientNormal  =
ctrl.caption.handShape     = Hand Shape
ctrl.caption.use_swivel    = Arm Swivel
ctrl.caption.use_handPos   = Hand Position
ctrl.caption.use_handPosMirror = Arm-arm link:
ctrl.caption.use_handOri   = Hand Orientation
ctrl.caption.gen_left      = left
ctrl.caption.gen_right     = right
ctrl.caption.breathFreq    = Frequency:
ctrl.caption.breathAmpl    = Amplitude:
ctrl.caption.gen_intensity = Intensity:
ctrl.caption.add_faceMorph = Add morph
ctrl.tooltip.add_faceMorph = Add a face morph to this pose
ctrl.caption.del_faceMorph = x
ctrl.tooltip.del_faceMorph = Delete this face morph


# Actions (buttons and menuitems)
# TODO ~ mnemos and images not implemented yet.

action.About.title = About
action.About.descr = Shows info about this application.
action.About.image = act_About.png
action.About.mnemo = ?

action.switchMenuLayout.title = Alt. Menu
action.switchMenuLayout.descr = Switches the menu bar layout.
action.switchMenuLayout.image = act_altMenu.png
action.switchMenuLayout.mnemo = ?

action.QuitApp.title = Quit
action.QuitApp.descr = Quits the application.
action.QuitApp.image = act_Quit.png
action.QuitApp.mnemo = Q

action.AddPose.title = Add Pose
action.AddPose.descr = Adds a new sequence.
action.AddPose.image = act_AddPose.png
action.AddPose.mnemo = 

action.DelPose.title = Delete Pose
action.DelPose.descr = Removes the currently selected pose from the list.
action.DelPose.image = act_DelPose.png
action.DelPose.mnemo =

action.AssumePose.title = Assume Pose
action.AssumePose.descr = Sends the current pose to the agent.
action.AssumePose.image = act_AssumePose.png
action.AssumePose.mnemo =

action.PerformSeq.title = Play
action.PerformSeq.descr = Send the gesture (i.e. pose sequence) to the agent.
action.PerformSeq.image = act_PerformSeq.png
action.PerformSeq.mnemo =

action.SendRaw.title = Send raw
action.SendRaw.descr = Sends the script exactly as shown (and maybe edited) in the text area, to the agent. For debugging purposes mainly.
action.SendRaw.image = act_SendRaw.png
action.SendRaw.mnemo =

action.DefPose.title = Default Pose
action.DefPose.descr = Adjust the settings to resemble the default pose.
action.DefPose.image = act_DefPose.png
action.DefPose.mnemo =

action.ClearFace.title = Clear Face
action.ClearFace.descr = Remove all morph-target settings.
action.ClearFace.image = act_ClearFace.png
action.ClearFace.mnemo =

action.ApplyFace.title = Reset Face
action.ApplyFace.descr = Apply the defined morph-target settings.
action.ApplyFace.image = act_ClearFace.png
action.ApplyFace.mnemo = 

action.SaveES.title = Save
action.SaveES.descr = Save the sequence as EMBRScript (non-invoked poseswill be dropped)
action.SaveES.image = act_SaveES.png
action.SaveES.mnemo =

action.OpenES.title = Open
action.OpenES.descr = Open a pose sequence read out of an EMBRScript file.
action.OpenES.image = act_OpenES.png
action.OpenES.mnemo =

action.NewLex.title = New
action.NewLex.descr = Create a new lexeme to define using this tool and to save to an EMBRScript file.
action.NewLex.image = act_NewLexeme.png
action.NewLex.mnemo =

action.SeqSwitch.title = Sequence
action.SeqSwitch.descr = If checked, shows the whole sequence's script, instead of the current pose.
action.SeqSwitch.image =
action.SeqSwitch.mnemo =

action.ContSwitch.title = Always follow pose
action.ContSwitch.descr = If checked, pose adjustments are immediately sent.
action.ContSwitch.image =
action.ContSwitch.mnemo =

action.SwitchTabbed.title = Tabbed
action.SwitchTabbed.descr = If checked, pose controls are segmented into tabs.
action.SwitchTabbed.image =
action.SwitchTabbed.mnemo =

action.LexemeTF.title = Lexeme:
action.LexemeTF.descr = Enter to update this gesture's lexeme name
action.LexemeTF.image =
action.LexemeTF.mnemo =

action.Restruct.title = Restructure
action.Restruct.descr = Reindex the pose sequence's internal pose array representation.
action.Restruct.image =
action.Restruct.mnemo =
