############################################################
# Mappings from BML to EMBRScript
# "default" should later be overidable by character-specific mappings
# At the moment, only "default" works properly
#
# (c) 2010 Michael Kipp, DFKI, kipp@dfki.de
############################################################

##### NEUTRAL #####

face.default.neutral.target.1 = Basis
face.default.neutral.weight.1 = 1.0

##### HAPPY #####

face.default.happy.target.1 = ExpSmileClosed
face.default.happy.weight.1 = 1.0
Face.default.happy.target.2 = ExpSmileOpen
face.default.happy.weight.2 = 0.3
face.default.happy.target.3 = ModBrowUpLeft
face.default.happy.weight.3 = 0.7
face.default.happy.target.4 = ModBrowUpRight
face.default.happy.weight.4 = 0.7

##### ANGRY #####

face.default.angry.target.1 = ExpAnger
face.default.angry.weight.1 = 0.4
face.default.angry.target.2 = ExpSad
face.default.angry.weight.2 = 0.6
face.default.angry.target.3 = ModBrowDownLeft
face.default.angry.weight.3 = 1.0
face.default.angry.target.4 = ModBrowDownRight
face.default.angry.weight.4 = 1.0
face.default.angry.target.5 = ModEyeSquintRight
face.default.angry.weight.5 = 0.3
face.default.angry.target.6 = ModEyeSquintLeft
face.default.angry.weight.6 = 0.3

##### DISGUSTED #####

face.default.disgusted.target.1 = ExpDisgust
face.default.disgusted.weight.1 = 0.9
face.default.disgusted.target.2 = ModBrowUpLeft
face.default.disgusted.weight.2 = 1.0
face.default.disgusted.target.3 = ModBrowDownRight
face.default.disgusted.weight.3 = 0.5

##### AFRAID #####

face.default.afraid.target.1 = ExpFear
face.default.afraid.weight.1 = 1.0

##### SAD #####

face.default.sad.target.1 = ExpSad
face.default.sad.weight.1 = 1.0
face.default.sad.target.2 = PhonB,M,P
face.default.sad.weight.2 = 1.0

##### SURPRISED #####

face.default.surprised.target.1 = ExpSurprise
face.default.surprised.weight.1 = 1.0

##### SCEPTICAL #####

face.default.sceptical.target.1 = ExpDisgust
face.default.sceptical.weight.1 = 0.7
face.default.sceptical.target.2 = ModBrowUpLeft
face.default.sceptical.weight.2 = 1.0
face.default.sceptical.target.3 = ModBrowDownRight
face.default.sceptical.weight.3 = 1.0
face.default.sceptical.target.4 = ModEyeSquintRight
face.default.sceptical.weight.4 = 0.2
face.default.sceptical.target.5 = PhonW
face.default.sceptical.weight.5 = 0.5

##### EYEBROWS #####

face.default.eyebrows.target.1 = ModBrowUpLeft
face.default.eyebrows.weight.1 = 1.0
face.default.eyebrows.target.2 = ModBrowUpRight
face.default.eyebrows.weight.2 = 1.0